@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "IBM Plex Sans Thai";
    --font-mono: "IBM Plex Mono";

    --hackathon-primary: #ff0909;
    --hackathon-background: #171717;
  }
}
